/TEST-de.cobolj.buildin.HexNumberTest.xml
/TEST-de.cobolj.buildin.StringLiteralTest.xml
/TEST-de.cobolj.datadivision.workingStorageSection.WorkingStorageTest.xml
/TEST-de.cobolj.statement.accept.AcceptTest.xml
/TEST-de.cobolj.statement.add.AddTest.xml
/TEST-de.cobolj.statement.display.DisplayTest.xml
/TEST-de.cobolj.statement.move.MoveTest.xml
/TEST-de.cobolj.statement.stop.StopTest.xml
